<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.review-mapper">

	<!-- 리뷰게시판 리스트 조회 -->
		<select id="selectReviewList" resultType="JmReviewVo">
			select * from  tbl_review order by r_info desc
		
		</select>

	<!-- 리뷰 게시판 info 조회 -->
		<select id="selectReviewInfo" resultType="JmReviewVo">
		select * from tbl_review 
    	where  r_info = #{r_info} 
		
		</select>
	<!-- 리뷰 게시판 글쓰기 -->
		<insert id="insertReview">
		insert into tbl_review(r_info,r_id,r_subject,r_contents,r_star,r_item)
		values (seq_review.nextval,#{r_id},#{r_subject},#{r_contents},#{r_star},#{r_item})
		
		</insert>
		
	<!-- 리뷰 게시판 업데이트 -->
		<update id="updateReview" >
		
		update tbl_review set 
   	 		r_subject = #{r_subject},
   			r_contents = #{r_contents},
    		r_star = #{r_star}
    	where r_info= #{r_info}
		
		</update>
		
	<!-- 리뷰 게시판 삭제기능 -->
		<delete id="deleteReview">
		
		delete from tbl_review
		where r_info = #{r_info}
		
		</delete>
		
	<!-- 검색 -->	
	<sql id="search">
	
	<if test="searchType !=null">
		<choose>
			<when test='searchType == "r_subject"'>
				where r_subject like '%' || #{keyword}|| '%'
			</when>

			<when test='searchType == "r_id"'>
				where r_id like '%' || #{keyword}|| '%'
			</when>
		</choose>
	</if>	
	</sql>	
		
	
	<!-- 페이징 -->
	<select id="selectPaging" resultType="JmReviewVo">
		select *
		from(select rownum rnum,a.*
		from(select * from tbl_review
		<include refid="search"></include>
		order by r_info desc)a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!--  게시글 수 조회 -->
	<select id="selectCount" resultType="int">
		select count(*) from tbl_review
		<include refid="search"></include>
	
	</select>
		
		
		
		
		
		
		
		
		
		
		
</mapper>