<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.lshboard-mapper">

	<!-- 상품 리스트 -->
	<select id="list" resultType="LshBoardVo">
		select *
		from (select rownum rnum, a.*
		    from (select * from tbl_product_board
		        <include refid="item"/>
		        order by <include refid="type"/>p_num desc) a)
				where rnum between #{lshBoardDto.startRow} and #{lshBoardDto.endRow}
	</select>
	
	<!-- 상품한개 화면 -->
	<select id="single" resultType="LshBoardVo">
		select * from tbl_product_board
		where p_num = #{p_num}
	</select>
	
	<!-- 상품별 갯수 얻기 -->
	<select id="getCount" resultType="int">
		select count(*) from tbl_product_board
		<include refid="item"/>
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt">
		update tbl_product_board set
   			p_viewCnt = p_viewCnt +1
		where p_num = #{p_num}
	</update>
	
	<!-- 주요상품 리스트 -->
	<select id="MostList" resultType="LshBoardVo">
		select * from (select rownum rnum, a.*
		    from (select * from tbl_product_board
		    order by p_viewcnt desc) a)
			where rnum between 1 and 7
	</select>
	
	<!-- 이미지 한개 불러오기 -->
	<select id="getImg" resultType="Kys_ImgVo">
		select * from tbl_attach 
		where p_num= #{p_num}
	</select>
	
	<sql id="type">
		<if test="lshBoardDto.type != null">
			<choose>
				<when test='lshBoardDto.type == "H"'>
					p_price desc,
				</when>
				<when test='lshBoardDto.type == "L"'>
					p_price,
				</when>
				<when test='lshBoardDto.type == "C"'>
					p_viewCnt desc,
				</when>
			</choose>
		</if>
	</sql>
	
	<sql id="item">
		<if test="p_main != null">
			where p_main = #{p_main}
		</if>
		<if test="p_serve != null">
			where p_serve = #{p_serve}
		</if>
	</sql>
	
</mapper>
