<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.lshboard-mapper">

	<select id="list" resultType="LshBoardVo">
		select * from tbl_product_board
		order by p_num desc
	</select>
	
	<select id="single" resultType="LshBoardVo">
		select * from tbl_product_board
		where p_num = #{p_num}
	</select>
	
	<select id="TopList" resultType="LshBoardVo">
		select * from tbl_product_board
		where p_main = 'T'
		order by p_num desc
	</select>
	
	<select id="PantsList" resultType="LshBoardVo">
		select * from tbl_product_board
		where p_main = 'P'
		order by p_num desc
	</select>
	
	<select id="ShoesList" resultType="LshBoardVo">
		select * from tbl_product_board
		where p_main = 'S'
		order by p_num desc
	</select>
	
	<select id="AccList" resultType="LshBoardVo">
		select * from tbl_product_board
		where p_main = 'A'
		order by p_num desc
	</select>
	
	<select id="ServeList" resultType="LshBoardVo">
		select * from tbl_product_board
		where p_serve = #{serve}
		order by p_num desc
	</select>
	
</mapper>
